<%= simple_form_for(@service, :validate => true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :service_name %>
    <%= f.input :service_description, :input_html => { :cols => 50, :rows => 3 } %>
    <%= f.input :service_no %>
	
	<% if true %>
    	<%= f.association :parts, :label_method => :part_name %>
    <% end %>       
    
    <%= f.association :labours, :label_method => :labour_name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn-primary" %>
  </div>
  
 
	

<% end %>

<script>
$(".chosen").chosen();
/*
$("#service_part_ids").chosen().change( 
function () {
	
	alert('change');
});*/



</script>




