<div id="role-options-<%= service.id %>" class="modal hide fade" style="display: none;">

<%= simple_form_for service, :url => update_individual_parts_path(service.id), :html => {:method => :put, :class => 'form-horizontal' } do |f| %>
	
	
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			&times;
		</button>
		<h3>Update Parts Qty for <%= service.service_name %></h3>
	</div>
	<div class="modal-body">
		<p class="text-center">
			<p class="muted">Please specify the quantity for each part required to complete the service.</p>
			<strong>Note: this amount will get deducted from the stock.</strong>
			<br />
			<table class="table lead">
				
				<%= f.simple_fields_for :servicepartsments do |builder| %> 		
					<tr >
						<td>
							<%= builder.input :quantity , as: :integer , :label => builder.object.part_name(builder.object.part_id) %>
						</td>
					</tr>			
		  		<% end %>
				
			</table>
		</p>

		<br />
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">
			Close
		</button>
		<%= f.submit "Save changes", :class => "btn btn-primary" %>
	</div>
	<% end %>
	
</div>
