<h1>Listing services</h1>

<table class="table table-condensed">
  <tr>
    <th>Service name</th>
    <th>Service description</th>
    <th>Service no</th>
    <th>Service Cost</th>
    <th>Parts Cost</th>
    <th>Labour Cost</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @services.each do |service| %>
  <tr class="<%= cycle('oddrow', 'evenrow') %>">
    <td><%= service.service_name %></td>
    <td><%= service.service_description %></td>
    <td><%= service.service_no %></td>
    <td><%= service.service_cost %></td>
    <td><%= service.total_parts_cost %></td>
    <td><%= service.total_labour_cost %></td>
    <td>
      <a data-toggle="modal" href="#role-options-<%= service.id %>" class="btn btn-mini" type="button">Qty</a>
      <%= render 'parts' , service: service %>
    </td>
    <td><%= link_to 'Show', service %></td>
    <td><%= link_to 'Edit', edit_service_path(service) %></td>
    <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Service', new_service_path %>
