<p id="notice">
	<%= notice %>
</p>

<p>
	<b>Service name:</b>
	<%= @service.service_name %>
</p>

<p>
	<b>Service description:</b>
	<%= @service.service_description %>
</p>

<p>
	<b>Service no:</b>
	<%= @service.service_no %>
</p>


<p>
	<b>Total Parts Cost:</b>
	<%= @service.total_parts_cost %>
</p>


<p>
	<b>Total Labour Cost:</b>
	<%= @service.total_labour_cost %>
</p>

<p>
	<b>Total Service Cost:</b>
	<%= @service.service_cost %>
</p>

<br />

<h3>Parts Used for this Service</h3>

<table class="table table-condensed">
	<tr>
		<th>Part name</th>
		<th>Part no</th>
		<th>Part Cost</th>
		<th>Part Description</th>
		<th>Part Quantity</th>
	</tr>
	<% @servicepartsments.each do |sp| %>
	<tr>
		
		<td><%= sp.part.part_name %></td>
		<td><%= sp.part.part_no %></td>
		<td><%= sp.part.part_cost %></td>
		<td><%= sp.part.part_description %></td>
		<td><%= sp.quantity %></td>
	</tr>
	<% end %>
	
</table>

<br />
<h3>Labours Used for this Service</h3>
<table class="table table-condensed">
	<tr>
		<th>Labour name</th>
		<th>Labour no</th>
		<th>Labour Cost</th>
		<th>Labour description</th>
	</tr>

	<% @labours.each do |l| %>
	<tr>
		<td><%= l.labour_name %></td>
		<td><%= l.labour_no %></td>
		<td><%= l.labour_cost_per_hr %></td>
		<td><%= l.labour_description %></td>
	</tr>
	<% end %>
</table>

<br />

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
