<%= simple_form_for(@labour, :validate => true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :labour_no %>
    <%= f.input :labour_name %>
    <%= f.input :labour_description , :input_html => { :cols => 50, :rows => 3 } %>
    <%= f.input :labour_cost_per_hr %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn-primary" %>
  </div>
<% end %>
