<br />

<div style="background-color: black; color: white;" class="nested-fields">
	<div class="childHeading">
		(Site <span class="counter"></span> ) <%= f.input_field :date_month , :as => :display %> <%= f.input_field :site_name , :as => :display %>
	</div>
	
	<span class="close-btn">
		<a class="slideParent" href='javascript:;'>&mdash;</a>
		<%= link_to_remove_association "X", f %>
	</span>
	
	<div style='display: none; border: 1px solid;background-color: white; color: black; padding-top: 35px;'>
		
		<%= f.input :site_name %>
		<%= f.input :siteno , :label => 'Site No.'%>
		<%= f.input :date_month , :as => :datepicker%>
		<%= f.input :description, :as => :text, :input_html => { :cols => 50, :rows => 3 } %>
		<%= f.association :services, :label_method => :service_name %>

		<%= f.association :breakdowns, :label_method => :breakdown_name %>
		<%= f.input :onhire_hrs %>
		<%= f.input :offhire_hrs %>
		
	</div>
	
</div>
<br />

<script>
var index = 1;
$("input.datepicker").each(function(i) {
  return $(this).datepicker({
    altFormat: "yy-mm-dd",
    dateFormat: "dd/mm/yy",
    altField: $(this).next()
  });
});

$('.counter').each(function(i, obj) {
    $(this).text(index++);
});
</script>
