<br />

<div class="nested-fields">
	<h4 >
	<table class="table table-condensed" style="background-color: black; color: white; ">
		<tr>
			<th>(Site <span class="counter"></span> ) <%= f.input_field :date_month , :as => :display %> <%= f.input_field :site_name , :as => :display %></th>
		</tr>
	</table></h4>
	
	<span class="close-btn">
		<a class="slideParent" href='javascript:;'>&mdash;</a>
		<%= link_to_remove_association "X", f %>
	</span>
	
	<div style='display: none;'>
		
		<%= f.input :site_name %>
		<%= f.input :siteno , :label => 'Site No.'%>
		<%= f.input :date_month , :as => :datepicker%>
		<%= f.input :description, :as => :text, :input_html => { :cols => 50, :rows => 3 } %>
		<%= f.association :services, :label_method => :service_name %>

		<%= f.association :breakdowns, :label_method => :breakdown_name %>
		<%= f.input :onhire_hrs %>
		<%= f.input :offhire_hrs %>
		
	</div>
	
	<hr />
</div>

<script>
var index = 1;
$("input.datepicker").each(function(i) {
  return $(this).datepicker({
    altFormat: "yy-mm-dd",
    dateFormat: "dd/mm/yy",
    altField: $(this).next()
  });
});

$('.counter').each(function(i, obj) {
    $(this).text(index++);
});
</script>
