<br />
<div class="nested-fields">
	<h4 >
	<table class="table table-condensed" style="background-color: black; color: white; ">
		<tr>
			<th>(Site <%= @index += 1%>) <%= f.input_field :date_month , :as => :display %> <%= f.input_field :description , :as => :display %></th>

		</tr>
	</table></h4>

	<div id="site_container_<%= @index %>" style='display: none;'>

		<%= f.input :date_month %>
		<%= f.input :description %>
		<%= f.association :services, :label_method => :service_name %>

		<%= f.association :breakdowns, :label_method => :breakdown_name %>
	</div>
	<a id="show_site_container_<%= @index %>" class="btn btn-small" href='javascript:;'>Show Month</a>
	<%= link_to_remove_association "Remove Month", f, :class => "btn btn-small", :style => "text-align: left" %>

</div>
<hr />
<script>
$('#show_site_container_<%= @index %>').click(function(e) {
	//Close all <div> but the <div> right after the clicked <a>
	//$(e.target).next('div').siblings('div').slideUp();
	//Toggle open/close on the <div> after the <a>, opening it if not open.
	//$(e.target).next('div').slideToggle();
	$('#site_container_<%= @index %>').slideToggle();

	});
</script>