<p id="notice">
	<%= notice %>
</p>

<p>
	<b>Price:</b>
	<%= @component.price %>
</p>

<p>
	<b>Depreciation:</b>
	<%= @component.depreciation %>
</p>

<p>
	<b>Model no:</b>
	<%= @component.model_no %>
</p>

<p>
	<b>Eng model no:</b>
	<%= @component.eng_model_no %>
</p>

<p>
	<b>Serial no:</b>
	<%= @component.serial_no %>
</p>

<p>
	<b>Eng serial no:</b>
	<%= @component.eng_serial_no %>
</p>

<p>
	<b>Alternator sr no:</b>
	<%= @component.alternator_sr_no %>
</p>

<p>
	<b>Commission Date:</b>
	<%= @component.commision_date.to_formatted_s(:long) %>
</p>


<p>
	<b>Purchase Date:</b>
	<%= @component.purchase_date.to_formatted_s(:long) %>
</p>

<p>
	<b>Warranty End Date:</b>
	<%= (@component.commision_date += 1.year).to_formatted_s(:long) %>
</p>

<p>
	<b>Depreciated Cost:</b>
	<%= @component.depreciated_cost %>
</p>

<p>
	<b>Rating:</b>
	<%= @component.rating %>
</p>
<p>
	<b>Running Service Total:</b>
	<%= @component.total_service_cost %>
</p>




<br />
<h3>Service and Breakdown Events</h3>
<br />
<% @servicebymonths.sort.reverse.each do |month, servicebymonths| %>
<h4><%= h month.strftime("%B %Y") %></h4>
<table class="table table-condensed">
	<tr>
		<th>Event Date</th>
		<th>Site Name</th>
		<th>Event Description</th>
		<th>Services</th>
		<th>Breakdowns</th>
		
	</tr>
	<% for servicebymonth in servicebymonths %>
	<tr>
		<td><%= servicebymonth.date_month %></td>
		<td><%= servicebymonth.site_name %></td>
		<td><%= servicebymonth.description %></td>
		<td><strong>Total:</strong>&nbsp;<%= servicebymonth.total_service_cost %>
			<br /><strong>Parts:</strong>&nbsp;<%= servicebymonth.total_service_parts %>
			<br /><strong>Labour:</strong>&nbsp;<%= servicebymonth.total_service_labour %>
		</td>
		
		
		<td><strong>Total:</strong>&nbsp;<%= servicebymonth.total_break_cost %>
			<br /><strong>Parts:</strong>&nbsp;<%= servicebymonth.total_break_parts %>
			<br /><strong>Labour:</strong>&nbsp;<%= servicebymonth.total_break_labour %>
		</td>
		
	</tr>

	<% end %>
</table>
<% end %>
<br />

<h3>Equipment Services Report</h3>

<%= content_tag :div, "", id: "equipmentreport", data: {monthlydata: @monthly_totals} %>

<br />
<h3>Equipment Breakdown Report</h3> 
<%= content_tag :div, "", id: "equipmentreport2", data: {monthlydata: @monthly_totals} %>

<br />

<h3>Equipment Working Hours</h3> 
<%= content_tag :div, "", id: "equipmentreport3", data: {monthlydata: @monthly_totals} %>

<br />
<%= link_to 'Edit', edit_component_path(@component) %> |
<%= link_to 'Back', components_path %>

