<p id="notice"><%= notice %></p>

<p>
  <b>Price:</b>
  <%= @component.price %>
</p>

<p>
  <b>Depreciation:</b>
  <%= @component.depreciation %>
</p>

<p>
  <b>Model no:</b>
  <%= @component.model_no %>
</p>

<p>
  <b>Eng model no:</b>
  <%= @component.eng_model_no %>
</p>

<p>
  <b>Serial no:</b>
  <%= @component.serial_no %>
</p>

<p>
  <b>Eng serial no:</b>
  <%= @component.eng_serial_no %>
</p>

<p>
  <b>Alternator sr no:</b>
  <%= @component.alternator_sr_no %>
</p>


<%= link_to 'Edit', edit_component_path(@component) %> |
<%= link_to 'Back', components_path %>
