
<div class="nested-fields" style="background-color: black; color: white; margin-top: 20px;" >
	<div style='border: 1px solid;background-color: white; color: black; margin: 10px;'>
		
		<span class="close-btn rentalitem-btn">
		
		<%= link_to_remove_association "X", f %>
	</span>
	
	<%= f.input :start , :as => :datepicker %>
	<%= f.input :end , :as => :datepicker %>
	<%= f.input :price %>
	<%= f.association :components, :label_method => :mpgno %>
	
	</div>
</div>
<script>
	 $("input.datepicker").each(function(i) {
      return $(this).datepicker({
        altFormat: "yy-mm-dd",
        dateFormat: "dd/mm/yy",
        altField: $(this).next()
      });
    });

$(".chosen").chosen();
</script>
