<ul class="nav nav-list">
	<li class="nav-header">
		Options
	</li>
	<li ><%= link_to "Customers", components_path %></li>
	<li class="divider"></li>
	<li class="<%= 'active' if controller?("components") %>"><%= link_to "Equipment", components_path %></li>
	<li class="divider"></li>
	<li class="<%= 'active' if controller?("services") %>"><%= link_to "Services", services_path %></li>
	<li class="<%= 'active' if controller?("breakdowns") %>"><%= link_to "Breakdowns", breakdowns_path %></li>
	<li class="divider"></li>
	<li class="<%= 'active' if controller?("parts") %>"><%= link_to "Parts", parts_path %></li>
	<li class="<%= 'active' if controller?("labours") %>"><%= link_to "Labour", labours_path %></li>
	
	
	<!-- NEW : if controller?("homepage") && action?("index", "show") 
		OLD: if current_page?(parts_path) %>
		-->
</ul>