<!DOCTYPE html>
<html>
	<head>
		<title>MegaPower</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>

	</head>
	<%= yield(:head) %>
	<body>
		<style>
			.simple_form .btn {
			    margin-left: 0px;
			    color: white;
			}
		</style>
		<%= render 'layouts/header' %>
		
		<div id="wrapper" class="container-fluid">
			<% flash.each do |key, value| %>
		        <div class="alert alert-<%= key %>"><%= value %></div>
		      <% end %>	
			<div class="row-fluid no-space">
				
				<div class="span2">
					<!--Sidebar content-->
					<%= render 'layouts/navlist' %>

				</div>
				<div class="span10" id="content">
					<%= yield %>
				</div>
			</div>
			<br />
			<%= debug(params) if Rails.env.development? %>
		</div>

		<script>
			$('#sidebar').portamento({wrapper: $('#wrapper')});	// set #wrapper as the visual coundary of the panel
		</script>

	</body>
</html>
